import React, {ReactNode, CSSProperties} from 'react';
import classNames from 'classnames';

import './index.scss';

export interface  {{componentName}}Props extends React.HTMLAttributes<HTMLInputElement>{
    className ?: string;
    type ?: 'normal' | 'primary' |'text'|'link'|'dashed';
    size ?: 'small' | 'medium' | 'large';
    children ?: ReactNode;
    style ?: CSSProperties;
};
const {{componentName}} =  (props:{{componentName}}Props) => {
    const {className, type = 'normal', size = "medium", children,style
        ,...others} = props;
    const clc = classNames({
        'ant-btn':true,
        [`ant-btn-${type}`]: type,
        [`ant-btn-${size}`]: size,
        [className as string]: !!className,
    })
    return <span {...others} className={clc} style={style} >{props.children}</span>

}
export default {{componentName}};